body {
  background-color: hsl(46, 100%, 80%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 3px;
  padding: 0px;
  height: 100%;
  /* border: solid red 5px; */
}

p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  /* background-color: #0077be; */
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  /* cursor: pointer; */
}

.home-button a {
  color: #fff;
  text-decoration: none;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
}

td table {
  border-collapse: collapse;
  width: 100%;
}

td table td {
  border: none;
  padding: 0;
}

#rainfall-table {
  display: none;
  border-spacing: 10px;
}

#hoverelement:hover ~ #rainfall-table {
  display: block;
  align-self: center;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
  z-index: 1;
  max-width: 240px;
}

#rainfall-table td {
  padding-top: 5px;
  padding-right: 10px;
}

#Total\ Rainfallval {
  display: flex;
}

#hoverelement {
  margin-top: 0px;
  margin-left: 7px;
  /* border: solid red 5px; */
}
#rainfall-table td {
  padding-top: 5px;
  padding-right: 10px;
}

#rainfall-data-td {
  display: flex;
}
